<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <link rel="stylesheet" href="../css/custom/userStyle.css">

    <title>Password Manager | {{user_data.username}}</title>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Password Manager</a>
        <button class=" navbar-toggler btn-sm" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="">Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link">
                        <form action="/user/logout?_method=DELETE" method="post">
                            <input type="submit" value="Logout">
                        </form>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">

        <div class="text-center d-grid gap-4">
            <button class="button btn btn-success rounded-pill"
                onclick="document.getElementById('id01').style.display='block'" style="width:auto;"
                class="align-center">Add Application
                Details</button>
        </div>

        <div id="id01" class="modal">

            <form class="modal-content animate" action="/addaccount" method="post">
                <div class="container">

                    <label for="uname"><b>Application Name</b></label>
                    <input type="text" placeholder="Enter Application Name" name="application_name" required>

                    <label for="uname"><b>Application Username</b></label>
                    <input type="text" placeholder="Enter Application Username" name="application_username" required>

                    <label for="psw"><b>Application Password</b></label>
                    <input type="password" placeholder="Enter Application Password" name="application_password"
                        required>

                    <button class="button" type="submit">Login</button>

                </div>
                <div class="container" style="background-color:#f1f1f1">
                    <button class="button" type="button" onclick="document.getElementById('id01').style.display='none'"
                        class="cancelbtn">Cancel</button>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="outer-wrap">
            <div class="content">
                <main class="main-area">
                    <section class="cards">
                        {{#each user_data.user_data_storage.user_content}}
                        <article class="card">
                            <div class="card-content">
                                <h2>{{this.application_name}}</h2>
                                <p>{{this.application_username}}</p>
                                Password: <input type="password" readonly value="{{this.application_password}}"
                                    id="{{this.id}}">
                                <br>
                                <input type="checkbox" id=`{{this.id}}` onclick="myFunction(`{{this.id}}`)">
                                <label for=`{{this.id}}`>Show Password</label><br>
                            </div>
                        </article>
                        {{/each}}
                    </section>
                </main>
            </div>
        </div>
    </div>


    {{!-- <div class="footer-bottom fixed-bottom mb-1">
        <div class="text-center p-3 bg-light text-dark">
            Developed with ❤️ by <a href="https://piyushanand.in" target="_blank" rel="noopener noreferrer"
                class="text-decoration-none">Piyush
                Anand</a>
        </div>

    </div> --}}

    <footer class="mt-auto">
        <div class="text-center p-3 bg-light text-dark">
            Developed with ❤️ by <a href="https://piyushanand.in" target="_blank" rel="noopener noreferrer"
                class="text-decoration-none">Piyush
                Anand</a>
        </div>
    </footer>



    <script>
        var modal = document.getElementById('id01');
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <script type="text/javascript">
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>

    <script src="../js/jquery-3.5.1.slim.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>


</body>

</html>